<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Cadastrar Usuário</span>
                <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text" class="validate" [(ngModel)]="user.nome">
                    <label for="name">Nome completo</label>
                </div>
                <div class="input-field col s12">
                    <input id="cpf" type="text" class="validate" [(ngModel)]="user.cpf" maxlength="11">
                    <label for="cpf">CPF</label>
                </div>
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" [(ngModel)]="user.email">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s12">
                    <input id="cep" type="tel" class="validate" [(ngModel)]="user.endereco.cep" maxlength="8">
                    <label for="cep">CEP</label>
                </div>
                <div class="input-field col s12">
                    <input id="logradouro" type="text" class="validate" [(ngModel)]="user.endereco.logradouro">
                    <label for="logradouro">Logradouro</label>
                </div>
                <div class="input-field col s12">
                    <input id="numero" type="tel" class="validate" [(ngModel)]="user.endereco.numero">
                    <label for="numero">Número</label>
                </div>
                <div class="input-field col s12">
                    <input id="complemento" type="text" class="validate" [(ngModel)]="user.endereco.complemento">
                    <label for="complemento">Complemento</label>
                </div>
                </div>
            </div>
            <div class="card-action">
                <a (click)="cadastrar()">CADASTRAR</a>
                <a (click)="limpar()">LIMPAR</a>
                <a (click)="cancelar()">CANCELAR</a>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>